extends layout

block content
  h1= title
  p 
  i The gruesome details of English history for amateurs

  h2 Food and Drink
  h2 Clothing
  h2 Weaponry
  h2 Luxury Items
  h2 Cookery
  h2 Economy
  
  p &copy; 2016